body{
    background-color: rgb(121, 101, 199);
}

.container{
    text-align: center;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    color: white;
}

p{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}